// Absolute Centering

@mixin centerX {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

@mixin centerY {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

@mixin centerXY {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}